#cooking-body #main {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#cooking-body .pageTitle {
  text-align: center;
  font-family: 'Cheltenham';
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #00B1FF;
  font-size: 40px;
}

#cooking-body #main #sidebar-nav {
  margin: 10px;
  font-size: 22px;
  font-family: "Cheltenham", serif;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  padding: 22px;
  flex-grow: 0;
}

#cooking-body #main #sidebar-nav h5 {
  font-weight: 500;
  margin: 0px;
  margin-bottom: 5px;
}

#cooking-body #main #sidebar-nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#cooking-body #main #sidebar-nav ul a {
  text-decoration: none;
}

#cooking-body #main #sidebar-nav ul li {
  margin: 10px;
  display: inline-block;
  line-height: 15px;
}

#cooking-body #main #sidebar-nav ul li a {
  cursor: pointer;
  border-bottom: 3px solid #00B1FF44;
}

#cooking-body #main #sidebar-nav ul li a:hover {
  /* text-decoration: underline;
  text-decoration-color: #FF00F3;
  -webkit-text-decoration-color: #FF00F3; */
  border-color: #FF00F3 !important;
  line-height: 15px;
}

#cooking-body #main #feedContainer {
  flex-grow: 1;
}

#cooking-body #main #feedContainer #feed {
  padding-bottom: 100px;
}

#cooking-body #feed .post {
  background-color: #eee;
  margin: 0px 30px 30px 30px;
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); */
}

#cooking-body #feed .post .postText {
  padding: 10px 50px;
}

#cooking-body #feed .post .heroImage {
  width: 100%;
}

#cooking-body #feed .post .heroImage img {
  width: 100%;
}

#cooking-body #feed .post .title {
  font-family: sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

#cooking-body #feed .post .postDetails {
  font-family: sans-serif;
  color: #666;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#cooking-body #feed .post .date {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 5px;
}

#cooking-body #feed .post .tags {
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
}

#cooking-body #feed .post .tags li {
  /* border-bottom: 2.5px solid #00B1FF44; */
  cursor: pointer;
  display: inline;
  background-color: #aaa;
  padding: 3px;
  border-radius: 5px;
  color: #eee;
}

#cooking-body #feed .post .tags li:hover {
  border-color: #00B1FF;
}

#cooking-body #feed .post .postBody {
  font-size: 16px;
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#cooking-body #feed .post .postBody img {
  width: 60%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  margin: 30px auto;
  display: block;
}

#cooking-body #feed .post .postBody a {
  color: #00B1FF;
  text-decoration: underline;
}

@media (max-width: 920px) {
  #cooking-body #main {
    flex-direction: column;
  }
  #photography-body #main #sidebar-nav {
    margin: 0px;
    height: auto;
  }
  #photography-body #main #sidebar-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  #cooking-body #feed .post .postBody img {
    width: 400px;
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .postText {
    padding: 10px 20px !important;
  }
}
