@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-200-normal.woff2');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-400-normal.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-500-normal.woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-700-normal.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-800-normal.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-300-italic.otf');
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-700-italic.ttf');
  font-style: italic;
  font-weight: 700;
}

* {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
  margin: 0px;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
  position: absolute;
  width: 100%;
  height: 100%;
}
