header {
  width: 100%;
  max-width: 1300px;
  padding: 0 150px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

header #title {
  font-family: 'Cheltenham';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  bottom: 0px;
}

header nav {
  font-family: 'Cheltenham';
  font-style: italic;
  font-weight: 500;
  font-size: 26px;
  bottom: 0px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

header nav span {

}
header nav span:hover {
  opacity: 0.5;
}

header nav span a {
  text-decoration: underline !important;
  cursor: pointer;
}

header nav span:nth-of-type(1) a {
  text-decoration-color: #00FFCE !important;
  -webkit-text-decoration-color: #00FFCE !important;
  -moz-text-decoration-color: #00FFCE !important;
}
header nav span:nth-of-type(2) a {
  text-decoration-color: #FF00F3 !important;
  -webkit-text-decoration-color: #FF00F3 !important;
  -moz-text-decoration-color: #FF00F3 !important;
}
header nav span:nth-of-type(3) a {
  text-decoration-color: #00B1FF !important;
  -webkit-text-decoration-color: #00B1FF !important;
  -moz-text-decoration-color: #00B1FF !important;
}

@media (max-width: 920px) {
  header {
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
  }
  header #title {
    width: 100%;
    text-align: center;
  }
  header #nav {
    margin: 5px 5px 0px 5px;
    font-size: 18px;
  }
}
