#cutout {
  width: 60%;
  position: fixed;
  bottom: 0px;
  max-height: 100%;
}

#text-container {
  width: calc(28% - 70px);
  float: right;
  margin-right: 80px;
  margin-left: 30px;
  margin-top: 50px;
}

#name {
  font-family: 'Cheltenham', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #212121;
}

h3.link-section {
  margin-top: 10px;
  /* background-color: white; */
  font-family: 'Cheltenham', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 32px;
  color: #212121 !important;
  line-height: 40px;
}

h3.link-section span {
  text-decoration: underline;
  cursor: pointer;
}

/* Found in @media hover */
h3.link-section span:hover {
  opacity: 0.5;
}

#first-link-section span:nth-of-type(2) a {
  text-decoration-color: #FF00F3;
  -webkit-text-decoration-color: #FF00F3;
  -moz-text-decoration-color: #FF00F3;
}
#first-link-section span:nth-of-type(1) a {
  text-decoration-color: #00FFCE;
  -webkit-text-decoration-color: #00FFCE;
  -moz-text-decoration-color: #00FFCE;
}
#first-link-section span:nth-of-type(3) a {
  text-decoration-color: #00B1FF;
  -webkit-text-decoration-color: #00B1FF;
  -moz-text-decoration-color: #00B1FF;
}

#learning-link {
  text-decoration-color: #212121;
  -webkit-text-decoration-color: #212121;
  -moz-text-decoration-color: #212121;
  text-decoration-style: dashed;
}

#learning-link a {
  text-decoration: none;
}

@media (hover: hover) {
  h3.link-section span:hover {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 850px) {
    #text-container {
        float: none;
        margin: 50 auto;
        max-width: 100%;
        width: auto;
    }

    #cutout {
      position: absolute;
      bottom: 0px;
      width: calc(100% - 20px);
      background-position: bottom center;
    }

    @media only screen and (max-height: 650px) {
      #cutout {
        max-height: calc(100% - 380px);
      }
    }
}

a:link, a:visited, a:hover, a:focus, a:active {
  color: #212121;
  text-decoration: none;
}

/* @media only screen and (max-height: 650px) {
  #cutout {
    max-height: calc(100% - 380px);
  }
} */

/* if height low and width high */
