@font-face {
  font-family: 'Cheltenham Italic Bold';
  src: url('../Fonts/nyt-cheltenham-700-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cheltenham Italic';
  src: url('../Fonts/nyt-cheltenham-300-italic.otf') format('opentype');
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-400-normal.ttf') format('truetype');
}

#photography-body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#photography-body #sidebar-nav {
  margin: 10px;
  font-size: 22px;
  font-family: "Cheltenham", serif;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  height: 150px;
  padding: 12px;
  flex-grow: 0;
}

#photography-body #sidebar-nav ul {
  list-style: none;
  padding-left: 10px;
  margin: 0px;
}

#photography-body #sidebar-nav ul a {
  text-decoration: none;
}

#photography-body #sidebar-nav ul li {
  margin: 10px;
  display: inline-block;
  line-height: 15px;
}

#photography-body #sidebar-nav ul li a {
  cursor: pointer;
  border-bottom: 3px solid #FF00F344;
}

#photography-body #sidebar-nav ul li a:hover {
  /* text-decoration: underline;
  text-decoration-color: #FF00F3;
  -webkit-text-decoration-color: #FF00F3; */
  border-color: #FF00F3 !important;
  line-height: 15px;
}

#galleryContainer {
  height: 100%;
  flex-grow: 1;
  padding: 10px;
}

.react-photo-gallery--gallery img {
  /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); */
}


@media (max-width: 920px) {
  #photography-body {
    flex-direction: column;
  }
  #photography-body #sidebar-nav {
    margin: 0px;
    height: auto;
  }
  #photography-body #sidebar-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}
