img {
  image-orientation: from-image !important;
}

#cooking-header {
  height: 150px;
  border-bottom: 1px solid #eee;
}

#cooking-header-title {
  position: relative;
  top: -10px;
  font-family: 'Cheltenham Bold Italic';
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

#cooking-header-title-slash {
  color: #00B1FF;
  margin: 5px;
  font-size: 80px;
  font-family: sans-serif;
  position: relative;
  top: 20px;
}

#nav-container {
  margin-top: 20px;
  height: 30px;
  text-align: center;
}

.nav-option {
  display: inline-block;
  margin: 0px 30px;;
  font-size: 15px;
  text-transform: uppercase;
  color: #555;
  cursor: pointer;
}

.nav-option:hover {
  color: black;
}

#cooking-content {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}

#cooking-featured-container {
  padding-top: 55%;
  width: 100%;
  margin: 30px auto;
  position: relative;
}

#cooking-featured {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#big-featured {
  width: 66%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

#big-featured-image-container {
  width: 100%;
  height: calc(100% - 75px);
}

#big-featured-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: 0.25s; */
}

#big-featured:hover #big-featured-image {
  filter: brightness(0.75);
}

#big-featured-text {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-top-width: 0px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: white;
  /* transition: 0.2s; */
}

.featured-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  background-color: #00B1FF;
  color: white;
  padding: 4px 8px 3px 8px;
  border-radius: 12px;
  margin: 12px;
  text-transform: uppercase;
}

.recipe-badge {
  background-color: #00B1FF;
}

.blog-badge {
  background-color: red;
}

#big-featured:hover #big-featured-text {
  max-height: 100%;
}

#big-featured-title {
  max-width: calc(100% - 80px);
  margin: 0px;
  font-size: 24px;
  width: calc(100% - 10px);
  text-overflow: ellipsis;
}

#big-featured-preview-text {
  margin: 0px;
  margin-top: 7px;
  font-weight: normal;
  color: #ccc;
  width: calc(100% - 10px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* transition: 0.25s; */
  font-size: 14px;
}

#big-featured:hover #big-featured-preview-text {
  opacity: 0;
}

#big-featured-preview-text-full {
  margin: 0px;
  margin-top: 7px;
  font-weight: normal;
  color: #ccc;
  width: calc(100% - 10px);
  opacity: 0;
  position: absolute;
  margin-top: -18px;
  font-size: 14px;
}

#big-featured:hover #big-featured-preview-text-full {
  position: relative;
  opacity: 1;
}

#small-features {
  width: 30.4%;
  height: 100%;
  padding-left: 2%;
  display: inline-block;
  top: 0px;
}

#small-features .small-featured:first-child {
  margin-bottom: 6%;
}

.small-featured {
  width: 100%;
  height: 48.3%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.small-featured-image-container {
  width: 100%;
  height: calc(100% - 40px);
}

.small-featured-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-orientation: from-image !important;
}

.small-featured:hover .small-featured-image {
  filter: brightness(0.75);
}

.small-featured-text {
  width: 100%;
  height: auto;
  /* max-height: 40px; */
  border: 1px solid #eee;
  box-sizing: border-box;
  border-top-width: 0px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  bottom: 0;
  background-color: white;
  /* transition: 0.25s; */
}

.small-featured:hover .small-featured-text {
  max-height: 100%;
}

.small-featured .featured-badge {
  margin: 8px;
}

.small-featured-title {
  max-width: calc(100% - 80px);
  margin: 0px;
  margin-top: 3px;
  font-size: 20px;
  width: calc(100% - 10px);
  text-overflow: ellipsis;
}

.small-featured-preview-text {
  font-size: 14px;
  margin: 0px;
  margin-top: 2px;
  font-weight: normal;
  color: #ccc;
  width: calc(100% - 10px);
  opacity: 1;
  /* transition: 0.25s; */
  position: absolute;
}

.small-featured:hover .small-featured-preview-text {
  opacity: 1;
  position: relative;
}

#cooking-recent {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

#cooking-recent-header {
  font-size: 24px;
  font-family: sans-serif;
  margin-bottom: 0px;
}

#recent-posts {
  width: 100%;
}

.recent-post {
  width: 100%;
  height: 220px;
  border: 1px solid #eee;
  margin: 10px 0px;
}

.recent-post-image {
  width: 40%;
  min-height: 100%;
}
