@font-face {
  font-family: 'Cheltenham Italic Bold';
  src: url('../Fonts/nyt-cheltenham-700-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cheltenham Italic';
  src: url('../Fonts/nyt-cheltenham-300-italic.otf') format('opentype');
}

@font-face {
  font-family: 'Cheltenham';
  src: url('../Fonts/nyt-cheltenham-400-normal.ttf') format('truetype');
}

#photography-body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#photography-body #text-container {
  float: none;
  position: absolute;
  padding: 0px 40px;
  padding-top: 20px;
  margin: 0px;
  height: calc(100% - 20px);
  width: 186px;
  color: #212121;
}

#photography-body #name h1 {
  display: inline-block;
  margin: 0px;
  font-size: 32px;
  color: white;
  background-color: black;
  padding: 2px 10px;
  padding-top: 6px;
  font-family: 'Cheltenham Italic Bold';
}

#photography-body #name h1 div {
  background-color: #FF00F3;
  font-family: sans-serif;
  margin-top: 0px;
  position: relative;
  top: 2px;
  left: -10px;
  height: 3px;
  width: calc(100% + 20px);
}

#photography-body #sidebar-nav {
  margin-top: 10px;
  font-size: 22px;
  font-family: "Cheltenham", serif;
}

#photography-body #sidebar-nav ul {
  list-style: none;
  padding-left: 10px;
  margin-top: 0px;
}

#photography-body #sidebar-nav ul a {
  text-decoration: none;
}

#photography-body #sidebar-nav ul li {
  margin: 5px 0px;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
}

#photography-body #sidebar-nav ul li:hover {
  /* text-decoration: underline;
  text-decoration-color: #FF00F3;
  -webkit-text-decoration-color: #FF00F3; */
  border-bottom: 3px solid #FF00F3;
  line-height: 15px;
}

#feature-images {
  width: calc(100% - 250px);
  height: 100%;
  float: right;
}

.feature-image {
  height: 100%;
  width: calc(50% - 8px);
  background-color: lightgrey;
  float: left;
}

.feature-image:first-of-type {
  margin-right: 16px;
  /* background-image: url("../Images/PhotographyHome/Feature1.jpg"); */
  background-size: cover;
  background-position: center center;
}

.feature-image:last-of-type {
  /* background-image: url("../Images/PhotographyHome/Feature2.jpg"); */
  background-size: cover;
  background-position: center center;
}

.mobile-feature-image {
  display: none;
}

#photography-body #HomeButton {
  position: fixed;
  font-size: 20px;
  bottom: 0px;
  color: white;
  width: 250px;
  height: 30px;
  margin-left: -40px;
  padding-top: 15px;
  text-align: center;
  background-color: black;
}

@media only screen and (orientation: portrait) {
  #photography-body #text-container {
    padding-bottom: 0px;
    z-index: 10;
    width: 100%;
  }

  #photography-body #text-container #sidebar-nav {
    background-color: rgba(255,255,255, 0.5)
  }

  #feature-images {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
  }

  .feature-image {
    display: none;
  }

  .mobile-feature-image {
    top: 0px;
    z-index: -10;
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  /* @media (max-aspect-ratio: 2/3) {
    .mobile-feature-image {
      width: auto;
      height: 100%;
    }
  } */

}
