@font-face {
  font-family: 'Cheltenham Bold Italic';
  src: url('../Fonts/nyt-cheltenham-700-italic.ttf') format('truetype');
}

#technology-body {
  display: block;
}

#Header {
  position: relative;
  top: 50px;
  margin-bottom: 75px;
}

#HeaderInner {
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 0px;
}

#Name {
  font-family: 'Cheltenham Bold Italic', sans-serif;
  color: white;
  font-size: 30px;
  margin: 0px;
  margin-top: 15px;
  text-align: center;
}

#Title {
  font-family: sans-serif;
  color: white;
  font-size: 60px;
  margin: 0px;
  text-align: center;
}

@media (max-width: 500px){
  #Name {
    font-size: 20px;
    margin-top: 15px;
  }
  #Title {
    font-size: 40px;
  }
}

#Gallery {
  width: 800px;
  max-width: 100%;
  /* background-color: blue; */
  padding: 30px 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.TechGalleryItem {
  transition: transform 0.1s;
  transform: scale(1);
  cursor: pointer;
}

.TechGalleryItem:hover {
  transform: scale(1.01);
}

.TechGalleryItemImage {
  height: 100%;
  width: 100%;
}

.TechGalleryItemTitle {
  color: white;
  font-family: sans-serif;
  font-size: 28px;
  position: absolute;
  bottom: 16px;
  left: 18px;
  margin-bottom: 0px;
  background-color: black;
  padding: 3px 8px;
}
